---
import { getCollection } from "astro:content";
import Sidebar from "../components/wiki/Sidebar";

const { colour, title, type, category, wiki } = Astro.props;
console.log(Astro.url.pathname);
---

<div class="flex flex-col gap-12 min-h-screen">
  <div
    class="rounded-out border border-stroke-1 h-[45vh] overflow-clip p-64 max-[900px]:p-24 flex relative flex-col justify-between"
  >
    <div class="flex flex-wrap gap-24">
      <p class="body">{category}</p>
      <p class="body">{type}</p>
    </div>
    <h1
      class="font-hanson text-[72px] max-[900px]:text-[48px] max-[450px]:text-[36px] w-full leading-none"
    >
      {title}
    </h1>
    <div
      class="absolute -z-10 w-[22vw] h-[30vw] rounded-[100%] self-end blur-[9vmax] opacity-50 animate-rotate-slow"
      style=`background-color: ${colour};`
    >
    </div>
  </div>
  <div class="flex gap-12 h-full min-h-screen">
    <Sidebar currentSlug={Astro.url.pathname} client:load wiki={wiki} />
    <div
      class="bg-fg-1 border border-stroke-1 rounded-out p-32 max-[830px]:p-24 max-[830px]:px-8 w-full flex flex-col gap-24"
    >
      <slot />
    </div>
  </div>
</div>
